.myheader{
    background-color:black; height:40px;
    text-align: left;
    color: white;
    font-family: Arial;
    font-weight: bold;
    font-size: 25px;
}

.cont{
    /*background-color:lightgrey;*/

background-image: url("../utilities/cork-wallet.png");
}